*{
  margin: 0;
  padding: 0;
}

body {

}

#splash {
  background-image: url('../imgs/astro-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

#box1 {
  height: 80vh;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10vh 70vw 10vh 5vw;
}

header h1 {
  margin: 2px;
  padding: 2px;
  text-align: center;
  font-family: 'Alegreya', serif;
  color: white;
}

#box1 button {
  margin: 5px;
  padding: 5px;
  background-color: #2C7CA2;
  border-radius: 10px
  border: 2px solid black;
}
